<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon aria-hidden="true" name="home-outline" size="large"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="products" href="/tabs/products">
      <ion-icon aria-hidden="true" name="search-outline" size="large"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="basket" href="/tabs/basket">
      <ion-icon aria-hidden="true" name="basket-outline" size="large"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="profile" href="/tabs/profile">
      <ion-icon aria-hidden="true" name="person-outline" size="large"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
