<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon name="reader" size="large"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="products" href="/tabs/products">
      <ion-icon name="search-circle-outline" size="large"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="basket" href="/tabs/basket">
      <ion-icon name="cash" size="large"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="profile" href="/tabs/profile">
      <ion-icon name="fish-outline" size="large"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
