<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Panel de administrador</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <!-- Contenido del panel aquí -->
    
    <ion-card>
      <img alt="Products" src="./../../assets/img/products-image.jpg" />
      <ion-card-header>
        <ion-card-title>Administracion de productos</ion-card-title>
        <ion-card-subtitle>Cañas de pescar y mas</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        Accediendo a esta sección podrás añadir, actualizar, modificar o eliminar productos que ya se encuentran agotados en stock.
      </ion-card-content>

      <ion-button fill="clear" (click)="goToProductsAdmin()">Productos</ion-button>
    </ion-card>

    <ion-card>
      <img alt="People" src="./../../assets/img/people-image.jpg" />
      <ion-card-header>
        <ion-card-title>Administracion de usuarios</ion-card-title>
        <ion-card-subtitle></ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        Accediendo a esta sección podrás agregar, actualizar, modificar o eliminar usuarios.
      </ion-card-content>

      <ion-button fill="clear" (click)="goToUsersAdmin()">Usuarios</ion-button>
    </ion-card>

    <ion-menu-toggle>
      <ion-button>Atras</ion-button>
    </ion-menu-toggle>
  </ion-content>
</ion-menu>



<ion-content [fullscreen]="true">


  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Cañas de pesca - Home</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <!-- Contenido de home aquí -->
    </ion-content>
  </div>


</ion-content>
