<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Administrator Panel</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <!-- Contenido del panel aquí -->
    
    <ion-card>
      <img alt="Products" src="./../../assets/img/products-image.jpg" />
      <ion-card-header>
        <ion-card-title>Manage Products</ion-card-title>
        <ion-card-subtitle>Card to manage products</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        By accessing this section you will be able to add, update, modify or delete products that are already out of stock.
      </ion-card-content>

      <ion-button fill="clear" (click)="goToProductsAdmin()">Products</ion-button>
    </ion-card>

    <ion-card>
      <img alt="People" src="./../../assets/img/people-image.JPG" />
      <ion-card-header>
        <ion-card-title>Card to manage users</ion-card-title>
        <ion-card-subtitle></ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        By accessing this section you will be able to add, update, modify or delete users.
      </ion-card-content>

      <ion-button fill="clear" (click)="goToUsersAdmin()">Users</ion-button>
    </ion-card>

    <ion-menu-toggle>
      <ion-button>Back</ion-button>
    </ion-menu-toggle>
  </ion-content>
</ion-menu>



<ion-content [fullscreen]="true">


  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Knives Store - Home</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <!-- Contenido de home aquí -->
    </ion-content>
  </div>


</ion-content>
